In [1]:
import psycopg2
import pandas as pds
from sqlalchemy import create_engine

In [2]:
alchemyEngine   = create_engine('postgresql+psycopg2://app:telus@127.0.0.1:5432/usage-consumption', pool_recycle=3600);
#dialect+driver://username:password@host:port/database

In [3]:
dbConnection = alchemyEngine.connect();

In [5]:
dataFrame = pds.read_sql("select event_data from rating_log where event_type ='1' and external_id = 8523915 order by event_id", dbConnection);

In [6]:
pds.set_option('display.expand_frame_repr', False);

In [7]:
#print(dataFrame);

In [8]:
df = dataFrame.event_data.str.split(',', expand=True)

In [9]:
print(df)

               0               1                                2                3               4       5  6     7      8             9   ...       84  85  86    87 88 89                            90                             91                              92                   93
0      1535819776  209.29.244.115  For_Krishna_sid_050822053513661  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"    20220805174545_1535819776_42  3704006131401114507
1      1535819776  209.29.244.115  For_Krishna_sid_050822053513661  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"    20220805174545_1535819776_42  6473923885775407878
2      1535819776  209.29.244.115  For_Krishna_sid_050822053513661  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"    20220805174546_1535819776_43  3123579048011976365
3      1535819776  209.29.244.115  For_Krishna_sid_050822053513661  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"    20220805174546_1535819776_43  3704006131401114507
4      1535819776  209.29.244.115  For_Krishna_sid_050822053513661  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"    20220805174547_1535819776_44  3123579048011976365
...           ...             ...                              ...              ...             ...     ... ..   ...    ...           ...  ...      ...  ..  ..   ... .. ..                           ...                            ...                             ...                  ...
16441  1535819776  209.29.244.115  For_Krishna_sid_050822075235764  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"  20220805211753_1535819776_5158  3123579048011976365
16442  1535819776  209.29.244.115  For_Krishna_sid_050822075235764  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"  20220805211754_1535819776_5159  3123579048011976365
16443  1535819776  209.29.244.115  For_Krishna_sid_050822075235764  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"  20220805211755_1535819776_5160  6473923885775407878
16444  1535819776  209.29.244.115  For_Krishna_sid_050822075235764  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"  20220805211756_1535819776_5161  3704006131401114507
16445  1535819776  209.29.244.115  For_Krishna_sid_050822075235764  302221000005157  209.29.244.132  310220  8  Data  10101  sp.telus.com  ...  UNKNOWN  US  08  2022        "Corp Advantage UL local 25"  "Avantage Entrepr ill loc 25"  20220805211756_1535819776_5161  3123579048011976365

[16446 rows x 94 columns]

In [10]:
df.columns = ['CHARGING-ID', 'GGSN-IP', 'IMEI', 'IMSI', 'SGSN-IP', 'MCC-MNC',
       'CHARGING-CHARACTERISTICS', 'SERVICE-IDENTIFIER', 'SERVICE-ID',
       'ACCESS-POINT-NAME', 'TERMINATION-CAUSE', 'CONSUMPTION-DATE', 'VOLUME',
       'RECEIVED-UOM', 'ACCESS-LOGIN', 'contract_item_external_id',
       'contract_id', 'TIME-ZONE', 'BRAND-ID', 'OFFER-ID', 'PACKAGE-ID',
       'OFFER-START-DATE', 'OFFER-EXPIRY-DATE', 'UNITS-CONSUMED', 'UOM',
       'REMAINING-UNITS', 'GRANTED-SERVICE-UNITS', 'DEVICE-TYPE',
       'CHARGE-AMOUNT', 'LIST-CHARGE-AMOUNT', 'LOCAL-TIME-OF-EVENT',
       'CHARGING-RESERVATION-ID', 'CONFIRMATION DATE', 'PACKAGE-UOM', 'RAT',
       'RATING-EXCEPTION-RSN-CD', 'BILL-YEAR-NUM', 'BILL-MONTH-NUM',
       'BILL-CYCLE', 'SERVICE-PKG', 'RATE-PLAN', 'MIN-CD', 'MARKET', 'BAN',
       'EXTERNAL-SUB-ID', 'SERVING-SID', 'EVENT-SOURCE', 'EVENT-TYPE',
       'SERVICE', 'SERVICE-LEVEL', 'EVENT-NAME', 'RATING-REASON-CODE',
       'SESSION-ID', 'CELL-SITE-ID', 'ZONE-FILTER', 'TRANSACTION-TYPE',
       'CHARGED-VOLUME', 'SOC-SEQ-NO', 'ALLOWANCE-PREVIOUS-PERIOD',
       'NUMBER-OF-CYCLES', 'ALLOWANCE-QUOTA-PERIOD', 'INTERVAL-START-DATE',
       'INTERVAL-END-DATE', 'RECURRING-TYPE', 'SERVICE-FILTER-GROUP',
       'SHARING-GROUP-NAME', 'MONTHLY-CAP-VALUE',
       'MONTHLY-CHARGE-ACCUMULATION', 'ZONE-FILTER-GROUP',
       'RATE-PER-SCALE-PERIOD', 'SCALE', 'SCALE-START-LEG', 'SCALE-END-LEG',
       'LOCATION-INFO-PART-1', 'LOCATION-INFO-PART-2', 'CURRENT-THRESHOLD',
       'SPECIAL-RATING-CONDITION-CD', 'BILL-CUTOVER-INDICATOR',
       'PRODUCTION-STATUS ', 'FILE-NM-TXT', 'SERVICE-OPTION-CD', 'SOURCE-ID',
       'PMN-ID', 'LOC-CITY-NAME', 'LOC-PROV-CD', 'COUNTRY-CD',
       'RATING-PERIOD-MONTH', 'RATING-PERIOD-YR',
       'SPECIAL-RATING-CONDITION-SERVICE-PKG', 'THROTTLE', 'UNKNOWN 1','UNKNOWN 2', 'UNKNOWN 3','UNKNOWN 4']

In [11]:
writer = pds.ExcelWriter('TDR_final.xlsx')

In [12]:
df.to_excel(writer,'sheet1',index=False)

In [13]:
writer.save()